body.login {
	background-color: #ebeeef;
	color: #000;
	padding-top: 0px;
}

body > div.container > div > div
{
	background: #fff;
	padding-top: 20px;
    padding-bottom: 20px;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 1px 15px #d4d4d4;

}

body.login .logo {
	text-align: center;
	margin-bottom: 55px;
}

body.login .logo img {
	width: 80px;
}

body.login form a {
	color: #3498db;
	font-size: 13px;
}

body.login form .input-group {
	margin-bottom: 20px;
	margin-top:10px;
}

body.login .btn {
	text-transform: uppercase;
}

body.login .btn > span {
	font-size: 12px;
	position: relative;
	top: -1px;
	margin-left: 5px;
}
body > div.container > div > div > form > img
{
	width: 100%;
}
body.login form .input-group .input-group-btn button.btn {
	line-height: 22px;
	border: 1px solid #6d6d6d;
	border-right: none;
	padding:5px;
}

body.login form input[type="email"], body.login form input[type="password"], body.login form input[type="text"] {
	border: 1px solid #6d6d6d;
	background-color: #fff;
	color: #000;
}

body.login h2 {
	margin-bottom: 40px;
	font-weight: 200;
	font-size: 22px;
	text-transform: uppercase;
	color: #323238;
	letter-spacing: 4px;
}

body.login .alert-success {
	border: 0px;
}

body.login h5.smaller {
	color: #333;
	font-weight: normal;
	font-size: 18px;
}

body.login h5.smaller > span {
	margin-right: 10px;
}

body.login form .btn-primary {
	margin-bottom: 10px;
}

body.login .divider {
	border-bottom: 2px solid #bdc3c7;
	line-height: 0px;
	text-align: center;
	width: 100%;
	height: 1px;
	padding: 0px;
	margin: 40px 0px;
}

body.login .divider > span {
	background: #fff;
	padding: 0px 15px;
}

.modal {
	color: #34495e;
}